.top{
    width: 70%;
    margin-left: 15%;
    margin-top:1%;
    margin-bottom: 1%;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 0.75px 0px rgba(0,0,0,0.75);
}
.top .image img{
    margin-top:7%;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    box-shadow: 0px 0px 0px 5px rgba(29, 17, 17, 0.75);
}
.loading{
    left: 50%;
    padding: 1%;
}
.top .row{
    text-align: center;
}
.top .row .name{
    font-size: 2rem;
    font-weight: 600;
}
.top .row .username{
    font-size: 1.5rem;
    font-weight: 500;
    margin-top:2%
}

.top .row .row_2{
    font-size: 1.2rem;
    font-weight: 400;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.top .row .row_2 .ac_inf{
    margin: 10px;
    display: grid;
}
.top .row .bio{
    margin:10px;
    font-size: 1.1rem;
    font-weight: 200;
}
.top .image img:hover{
    transform: scale(1.05);
}

.followButton{
    position: relative;
    left: 45%;
    margin-top: 20px;
    background: #c5c1c1;
    padding: 10px;
    border-radius:50%;
    cursor: pointer;
    transition: all 0.2 ease-in-out;
}

.followButton:hover{
    background: #a8a8a8;
}