.tabs{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    width: 100%;
    border-radius: 15px;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    box-shadow: 0 1px 8px rgba(0,0,0,0.2);
}

.tabs .items{
    display:flex;
    align-items: center;
    padding: 10px 10px 10px 10px;
    cursor: pointer;
}

.tabs .items p{
    margin-left: 5px;
}
