.tabs{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    width: 100%;
}

.tabs .items{
    display:flex;
    align-items: center;
    padding: 10px 10px 10px 10px;
    cursor: pointer;
}

.tabs .items p{
    margin-left: 5px;
}