.user_long_card .user_long_card_avatar img{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}
.user_long_card{
    width: 30%;
    min-width: 400px;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 50px;
    background: linear-gradient(to right, #ff8707, #ffeb3a);
    transition: all 0.5s ease-in-out;
    margin: 10px 10px 10px 10px;
}

.user_long_card:hover{
    background: linear-gradient(to right, #ff8707, #ffeb3a);
    box-shadow: 0px 0px 10px 0px #ff8707;
    cursor: pointer;
    width: 100%;
    margin: 10px 10px 10px 10px;
}

.user_long_card .user_long_card_info{
    padding: 10px;
}
.user_long_card .user_long_card_info .user_long_card_info_name{
    font-size: 20px;
    font-weight: bold;
}
.user_long_card .user_long_card_info .user_long_card_info_name{
    font-size: 15px;
    font-weight: bold;
}

.user_long_card .user_long_card_follow{
    position: absolute;
    margin-left: 250px;
    padding: 10px;
    transition: all 0.5s ease-in-out;
}

.user_long_card .user_long_card_follow .user_long_card_button{
    width: 30px;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 20px;
    background: transparent;
    border: 1px solid #ff8707;
    color: #ff8707;
    font-weight: bold;
    transition: all 0.5s ease-in-out;
}
.user_long_card:hover .user_long_card_follow{
    margin-left: 15%;
}
.user_long_card:hover .user_long_card_follow .user_long_card_button{
    background: #ff8707;
    width: 300px;
    height: 50px;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
}