.suggestFl{
    z-index: -999;
    width: 150px;
    height: 200px;
    margin: 10px;
    cursor: pointer;
}

.suggestFl img{
    position: absolute;
    width: 150px;
    height: 200px;
    object-fit: cover;
    object-position: 1%;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgb(0,0,2);
    transition: all 1s ease-in-out;
}

.suggestFl:hover img{
    object-position: center;
}

.suggestFl .sfFill{
    position: absolute;
    z-index: 3;
    width: 150px;
    height: 200px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.426);
    display: none;
    transition: all 5s ease-in-out;
}

.suggestFl:hover .sfFill{
    display: flex;
}
.suggestFl:hover .information {
    display: flex;
}
.suggestFl:hover .sgfButton{
    display:flex;
}
.suggestFl .information{
    z-index: 3;
    position:relative;
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    padding: 10px;
    font-weight: bold;
    display: none;
    font-size: 10px;
}
.suggestFl .information .child{
    background: #ffffffb5;
    border-radius: 10px;
    padding: 5px;
    margin:2px;
}
.suggestFl .sgfButton{
    display: none;
    position: relative;
    z-index: 3;
    left: 50px;
    top:5px;
}
